<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= SUBJECT %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        font-size: 1rem;
        margin: 0;
        padding: 0;
        font-family: "Lato", sans-serif;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      .header {
        text-align: center;
      }
      .header td {
        padding-bottom: 1rem;
      }
      .content {
        display: table;
        border-collapse: separate;
        width: 100%;
        max-width: 500px;
        padding: 1rem;
        margin: 0 auto;
      }
      .paper {
        padding: 2rem;
        border-radius: 40px;
      }
      .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 100px;
        text-transform: none;
        text-decoration: none;
      }
      .regards {
        margin-bottom: 0;
      }
      .center {
        text-align: center;
      }
      .footer td {
        padding: 0 2rem;
      }
      .footer p {
        text-align: center;
      }
      .footer .social a {
        display: inline-block;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
      }
      .mt-1 {
        padding-top: 1rem !important;
      }
      .mt-0 {
        margin-top: 0;
      }
      .mb-0 {
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
      }

      .bg-clr {
        background-color: #070025 !important;
      }
      .link-clr {
        color: #008869 !important;
      }
      .btn-clr {
        background-color: #004d3b !important;
      }
      .btn-text-clr {
        color: #ffffff !important;
      }
      .paper-clr {
        background-color: #211a3f !important;
      }
      .text-clr {
        color: #cbcbcb !important;
      }
      .footer-text-clr {
        color: #939393 !important;
      }
      .footer-link-clr {
        color: #949494 !important;
      }
    </style>
  </head>
  <body class="bg-clr">
    <table border="0" class="content bg-clr">
      <tr class="header">
        <td>
          <a href="<%= __GLOBAL__.WEBSITE_URL %>">
            <img
              class="dark"
              src="https://res.cloudinary.com/dphuxokhq/image/upload/v1746304341/logo-text_zpbul6.png"
              width="100px"
              height="29px"
              alt="Inkscribe"
            />
          </a>
        </td>
      </tr>
      <tr class="main text-clr">
        <td class="paper paper-clr">
          <h4>Hi <%= USERNAME %>,</h4>
          <p>
            Thank you for contacting <%= __GLOBAL__.APPNAME%> support. We have received your
            request and will respond as soon as possible.
          </p>
          
          <p class="regards">
            Regards,<br />
            Team <%= __GLOBAL__.APPNAME%>
          </p>
        </td>
      </tr>
      <tr class="footer footer-text-clr">
        <td class="mt-1">
          <p class="links mt-0">
            <a href="<%=  __GLOBAL__.CONTACT_US  %>" class="footer-link-clr"
              >Contact Us</a
            >
            &bull;
            <a href="<%=  __GLOBAL__.ABOUT_US  %>" class="footer-link-clr"
              >About us</a
            >
          </p>
          <p class="social">
            <a href="<%= __GLOBAL__.SOCIAL_LINKS.GITHUB %>"
              ><img
                width="30"
                height="30"
                src="https://res.cloudinary.com/dphuxokhq/image/upload/v1746304120/github_ktrk2k.png"
                alt="linkedin"
            /></a>
            <a href="<%= __GLOBAL__.SOCIAL_LINKS.YOUTUBE %>"
              ><img
                width="30"
                height="30"
                src="https://res.cloudinary.com/dphuxokhq/image/upload/v1746304257/youtube_jgkkgc.png"
                alt="youtube"
            /></a>
            <a href="<%= __GLOBAL__.SOCIAL_LINKS.LINKEDIN %>"
              ><img
                width="30"
                height="30"
                src="https://res.cloudinary.com/dphuxokhq/image/upload/v1746304120/instagram_zv6kk9.png"
                alt="instagram"
            /></a>
            <a href="<%= __GLOBAL__.SOCIAL_LINKS.FACEBOOK %>"
              ><img
                width="30"
                height="30"
                src="https://res.cloudinary.com/dphuxokhq/image/upload/v1746304120/facebook_kpkjaf.png"
                alt="facebook"
            /></a>
          </p>
          <p class="copyright mb-0">
            © 2024
            <a href="<%= __GLOBAL__.WEBSITE_URL %>" class="footer-link-clr"
              ><%= __GLOBAL__.APPNAME %></a
            >, <%= __GLOBAL__.OFFICE_ADDRESS %>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
